/* General Styles */
body {

  margin: 0;
  padding: 0;
  background-color: rgb(237, 127, 127);
}

/* Nav Styles */
nav {

  background-color: lightgrey;
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
}

nav p, nav a {
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

nav a {
  background-color: ghostwhite;
  box-shadow: inset 0 0 4px black;
  display: flex;
  justify-content: space-between;
}

nav a:hover {
  background-color: rgb(111, 129, 218);
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: rgb(150, 135, 135);
  border: 5px solid rgb(80, 49, 49);
  display: flex;
  justify-content: center;
}

footer a {
  background-color: rgb(150, 135, 135);
  text-shadow: 0.5px 0.5px 0.5px rgb(12, 9, 9);
 
}

footer a:hover {
  background-color: rgb(111, 129, 218);
  border: 2px solid black;

}

/* Splash Section */
.splash {
  background-color: rgb(237, 127, 127);
}

.splash h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(51, 2, 2);
}

.splash img {

  border: 2px solid black;
}

.splash p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(27, 2, 2);
}

/* Horizontal Rules */
hr {
  border: 1px solid black;
 
  margin: 5px;
  
}

/* Sections */
section {
  background-color: rosybrown;
}

/* Section Headings */
section h2 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(51, 2, 2);
}

/* Paragraph Styles */
section p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
 
  color: rgb(6, 1, 1);
}

/* link styles */
section a {
color: darkgreen;
  text-decoration: none;
  
  
}
section a:hover {
text-decoration: wavy underline;
font-size: 110%;

}

/* List Styles */
ul {
  list-style-type: square;
}

dl {
  display: grid;
  grid-template-columns: 2fr 7fr;
 font-size: 99.9%;
}
dl dt{
  display: grid;
  grid-template-columns: 2fr 7fr;
}
dl dd{
  display: grid;
  grid-template-columns: 2fr 7fr;
}

/* Project Section */
.three-col {

  display: grid;
 grid-template-columns: 1fr 1fr 1fr;

}

.card 
{
  display: grid;
  place-items: center;
  padding: 5px;
  background-color: rgb(232, 168, 168);
  margin: 5px;
  border: 1px solid black;
 
}

.card img {
border: 1px solid black;
width: 300px;
height: 300px;
justify-content: center;


}

.card h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(28, 9, 9);
}

/* Contact Page Styles */
.one-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.one-col form {
  display: grid;
  grid-template-columns: 1fr;
  
}

.one-col form input, form textarea {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
  background-color: rgb(227, 219, 219);
  
  
}

.one-col form input:focus, form textarea:focus {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
}

.one-col form button {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
}

.one-col form button:hover {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(111, 129, 218);
  border: 2px solid black;
}

